body{background: #fff;}
.background-header{
    height: 420px;
    max-height: 420px;
    background-image: url(../img/header.png);
    position: relative;
    margin-top:70px;
}

hr{
    border: 2px solid #00C2E8;
    border-radius: 100px;
    max-width: 50px;
}

.nav-item{
    margin:0px 20px;
}

header{
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.logo{ font-size:30px; font-family: 'Comfortaa', cursive;}
.logo span{font-size: 24px;}
.textWhite{color: #fff;}
h1,h2,h3,h4,h5,h6{font-family: 'Comfortaa', sans-serif;}


.background-header img {
    position: absolute;
    left: 0px;
    top: 37px;
}
.font{
    z-index: 5;
    white-space: nowrap;
    font-size: 28px;
    line-height: 70px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
}

.buttons{
    margin-top: 20px;
}

.buttons a{
    margin-right:10px;
}

.services img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.services i{font-size: 40px;}

.services{
    background: rgba(245,245,245,.8);
    position: relative;
    border-bottom: 1px solid rgba(67,77,93,.1);
}
.textGrey{color:#000!important}
.services p {
    color: #353b48;
    font-family: 'Comfortaa', sans-serif;
}

.services .col-md-12{margin-bottom: 40px;}
.red{
    color: #ff7f83;
}
.green{
    color: #01d58c;
}
.yellow{
    color: #ffb501;
}

.services table td:nth-child(2){
    padding-left: 20px;
}

.services table td{
    padding-bottom: 20px!important;
}

.services table td:nth-child(1) i{
    position: relative;
    top: -10px;
    font-size: 50px;
}

.purple{
    color:#9b59b6;
}

.services,.quienes_somos{
    min-height: 561px;
}

.quienes_somos{
    background: rgba(255,255,255,.8);
}

.quienes_somos h2{
    color: #222;
}

.relative{
    position: relative;
}

.devices{
    position: absolute;
    top: 160px;
    left: -60px;
}

.fontText{
    font-family: 'Comfortaa', cursive;
    color:#353b48;
    font-size: 24px;
    margin-top: 120px;
    text-align: right;
}

.banner{
    min-height: 300px;
    background-image: url(../img/banner.png);
}

.contacto{
    background: rgba(255,255,255,.8);
}

footer{
    background: #fff;
}

.icon-footer{
    font-size: 20px;
    color: #c0392b;
    position: relative;
    top:4px;
}

footer .pd{
    padding: 30px 30px 12px 30px;
}
@media (max-width:1270px){
    .font{
        z-index: 5;
        white-space: inherit;
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        margin: 0px;
        padding: 0px;
        visibility: inherit;
        transition: none 0s ease 0s;
    }
}

@media (max-width:768px){

    .tablet{display: none;}
    .overflow{
        overflow: hidden;
    }

    .order-mobile{
        webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .background-header{
        padding: 100px 0px;
    }
    .background-header h2{
        margin-bottom: 20px;
    }
    .quienes_somos .col-md-4{
        padding: 10px 20px;
    }
    .banner{padding:0px 20px 60px 20px;}

    .quienes_somos {
        max-height: 461px;
        height: 462px;
        min-height: 0;    
    }

    .social h4,.social-btns{
        text-align: center!important;
    }
    
    .social-btns .btn {
        margin: 10px!important;
        width: 60px!important;
        height: 60px!important;
        line-height: 60px!important;
    }
/*
    .logo{
        position: relative;
        top: -11px;
    }*/
}


.social{padding: 100px 40px;}
.social i {    
    position: relative;
    top: -11px;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: left;
  position: relative;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}


.align-center {
    text-align: center;
  }
  
  .content-wrapper {
    min-height: 100%;
    position: relative;
  }
  
  .get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .get-in-touch .title {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background: transparent;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
            color: #888;
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #212529;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Lusitana, serif;
    font-size: 16px;
    line-height: 21px;
  }
  .note .link {
    color: #888;
    text-decoration: none;
  }
  .note .link:hover {
    text-decoration: underline;
  }
  

  * {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #fff;
  }
  
  @-webkit-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -10000px;
      top: -2000px;
    }
  }
  
  @-moz-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -10000px;
      top: -2000px;
    }
  }
  
  @-o-keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -10000px;
      top: -2000px;
    }
  }
  
  @keyframes backgroundAnimate {
    from {
      left: 0;
      top: 0;
    }
    to {
      left: -10000px;
      top: -2000px;
    }
  }
  
  #back {
    background: url(https://4kwallpapers.co/wp-content/uploads/2015/09/blue-material-design-ultra-hd-wallpapers.png) repeat 20% 20%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 500s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #front {
    background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    -webkit-animation-name: backgroundAnimate;
    -webkit-animation-duration: 300s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: backgroundAnimate;
    -moz-animation-duration: 300s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: backgroundAnimate;
    -o-animation-duration: 300s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: backgroundAnimate;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.navbar-light .navbar-toggler{
    border:none!important;
}
/*
.navbar-light .navbar-toggler-icon{
    position: relative;
    top: -11px;
    outline: 0;
}
*/
.navbar-toggler:not(:disabled):not(.disabled){
    outline: 0;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 200px;
    height: 200px;
    
    margin-top: -100px;
    margin-left: -100px;
  }
  
  
  /* The dot */
  .loader > .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  
    width: 160px;
    height: 100px;
    
    margin-top: -50px;
    margin-left: -80px;
  
    border-radius: 5px;
  
    background-color: #1e3f57;
  
    transform-type: preserve-3d;
  
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
  }
  
  .loader > .dot:nth-child(2) {
    z-index: 11;
    
    width: 150px;
    height: 90px;
    
    margin-top: -45px;
    margin-left: -75px;
    
    border-radius: 3px;
    
    background-color: #3c617d;
    
    animation-name: dot2;
  }
  
  .loader > .dot:nth-child(3) {
    z-index: 12;
    
    width: 40px;
    height: 20px;
    
    margin-top: 50px;
    margin-left: -20px;
    
    border-radius: 0 0 5px 5px;
    
    background-color: #6bb2cd;
    
    animation-name: dot3;
  }
  
  @keyframes dot1 {
    3%, 97% {
      width: 160px;
      height: 100px;
  
      margin-top: -50px;
      margin-left: -80px;
    }
    30%, 36% {
      width: 80px;
      height: 120px;
  
      margin-top: -60px;
      margin-left: -40px;
    }
    63%, 69% {
      width: 40px;
      height: 80px;
  
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2 {
    3%, 97% {
      width: 150px;
      height: 90px;
  
      margin-top: -45px;
      margin-left: -75px;
    }
    30%, 36% {
      width: 70px;
      height: 96px;
  
      margin-top: -48px;
      margin-left: -35px;
    }
    63%, 69% {
      width: 32px;
      height: 60px;
  
      margin-top: -30px;
      margin-left: -16px;
    }
  }
  
  @keyframes dot3 {
    3%, 97% {
      width: 40px;
      height: 20px;
  
      margin-top: 50px;
      margin-left: -20px;
    }
    30%, 36% {
      width: 8px;
      height: 8px;
  
      margin-top: 49px;
      margin-left: -5px;
      
      border-radius: 8px;
    }
    63%, 69% {
      width: 16px;
      height: 4px;
  
      margin-top: -37px;
      margin-left: -8px;
      
      border-radius: 10px;
    }
  }

  .loader-content{
      position: fixed;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url(../img/header.png);
      z-index: 999999999;
  }

  .disabledLoader{
    transition: display 1s ease-out;
    display: none; 
    height: 0;
    overflow: hidden;
  }

  .block{
    display: block!important;
  }

  .alert{
    display: none;
    width: 100%!important;
    text-align: center!important;
  }